# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build output
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.*.local

# Vite cache
.vite/

# Editor settings
.vscode/*
!.vscode/extensions.json  # puedes versionar sugerencias de extensiones
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Optional: coverage reports
coverage/

# Optional: log from `eslint --debug`
eslint.debug.log
